.users-new{
  background-image: image-url("new.jpg");
  background-size: cover;
  background-position: center 60%;
  padding-bottom: 30px;
}

.form{
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.container{
  padding-top: 40px;
}

.form-heading{
  position: relative;
  height: 75px;
  margin-right: 100px;
  padding: 1.5rem 2rem 0 2rem;
  word-break: break-all;
  color: #fff;
  background: #000;
}

.form-heading:after{
  position: absolute;
  top: 0;
  right: -55px;
  width: 0;
  height: 0;
  content: '';
  border-width: 75px 55px 0 0;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.bn {
  font-size: 40px;
  font-size: 3.7rem;
  position: absolute;
  top: 0;
  right: -100px;
  display: block;
  padding-top: 3px;
  padding-left: 40px;
  color: black;
  text-shadow: 
   2px  2px 1px white,
  -2px  2px 1px white,
   2px -2px 1px white,
  -2px -2px 1px white,
   2px  0px 1px white,
   0px  2px 1px white,
  -2px  0px 1px white,
   0px -2px 1px white;
}

.users-form{
  background-color: cornsilk;
  opacity: 0.95;
}

.user img{
  width: 180px;
  height: 180px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 50px;
  object-fit: cover;
}

.warining{
  color: blue;
}

li{
  color: red;
  text-align: left;
}

.users-form{
  padding: 10px;
  border-radius: 8px;
  margin-top: 50px;
}


// show

.users-show{
  background-image: image-url("show.jpg");
  background-size: cover;
  background-position: center 60%;
  padding-bottom: 30px;
}

.username{
  font-weight: bolder;
  margin-bottom: 40px;
}

.userid{
  position: relative;
  padding: 1rem 2rem;
  text-align: center;
  color: #0075a9;
  border-radius: 0 10px 10px 10px;
  background: #d8ecf5;
  max-width: 900px;
  margin: 0 auto 60px;
}

.userid:before{
  font-family: 'Font Awesome 5 Free';
  font-size: 12px;
  font-size: 1.2rem;
  position: absolute;
  top: -24px;
  left: 0;
  height: 24px;
  padding: 0 1em;
  content: '\f0a4  ユーザーID';
  color: #fff;
  border-radius: 10px 10px 0 0;
  background: #0075a9;
}

.btn {
  padding: 10px 24px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.Editlink{
  text-decoration: none;
  color: rgb(187, 255, 0) ;
}

.fa-star{
  font-size: 40px;
}

.exit{
  background-color: rgb(100, 60, 0);
  font-size: 24px;
  margin-right: 30px;
}

.sear{
  background-color: orchid;
  font-size: 24px;
  margin-right: 15px;
  padding: 10px 15px;
}
.oneday{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fut{
  background-color: rgb(255, 51, 51);
  font-size: 32px;
  padding: 12px 25px;
  box-shadow: 0 7px #941c1c;
  margin-bottom: 75px;
}
.fut:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}
.lifting-text{
  width: 100%;
  margin: 80px auto 15px;
  font-size: 24px;
  padding: 5px 15px;
  border-radius: 10px;
  max-width: 900px;
}
.yazi{
  font-size: 50px;
  margin-bottom: 40px;
}

.maximum-tab{
  margin: auto;
  background-color: rgba(173, 223, 59, 0.822);
  box-shadow: 0 2px 6px #4c534a;
  max-width: 900px;
}

.maximum-text{
  font-weight: 600;
}

.maximum-record{
  font-weight: 800;
  font-size: 40px;
  color: red;
}

.user-tabs {
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0.842);
  overflow: hidden;
  box-shadow: 0 2px 6px #4c534a;
  max-width: 900px;
  margin: 50px auto 0px;
}

.user-tabs li {
  width: 25%;
  text-align: center;
  float: left;
  list-style: none;
}

.user-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

.lifting-index{
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.842);
  overflow: hidden;
  box-shadow: 0 2px 6px #4c534a;
  display: table;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.lifting-record a{
  font-weight: 600;
  color: black;
  font-size: 30px;
}

.lifting-record a:hover {
  color: #3ecdc6;
}

.lifting-remark a{
  font-weight: 300;
  color: rgb(185, 0, 0);
  font-size: 20px;
}

.lifting-remark a:hover {
  color: #3ecdc6;
}

.lifting-left {
  float: left;
  width: 20%;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding-top: 5px;
}

.lifting-center {
  width: 40%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

.lifting-right {
  width: 40%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

.mb-3{
  max-width: 900px;
  margin: auto;
}

////////////////
.users-edit{
  background-image: image-url("new.jpg");
  background-size: cover;
  background-position: center 60%;
  padding-bottom: 30px;
}

// trainings

.col-lg-5{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}


//favorites

.not-shine{
  color: gray;
}
.shine{
  color: gold;
}

.favorite-remove{
  font-size: 30px;
  color: red;
}

.favorite-index{
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.842);
  overflow: hidden;
  box-shadow: 0 2px 6px #4c534a;
  display: table;
  width: 100%;
  font-size: 20px;
  max-width: 900px;
  margin: auto;
}

//weather
.weather{
  background-color: rgb(10, 121, 224);
  margin-bottom: 0;
  border: inset 10px #00eeff ;
  font-weight: 600;
  color: #fff;
  padding-left: 40px;
}
#weather{
  height: 120px;
  background-color: skyblue;
}
.weather-date{
  font-weight: 700;
  display: block;
  font-size: 20px;
  color: #941c1c;
}
.weather-report{
  width:33%;
  float:left;
  text-align: center;
}